.buttons {
  text-align: center;
  display: flex;
  justify-content: center;
  .sign-btn {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    display: block;
    text-decoration: none;
  }
  .signin {
    border: 3px solid black;
    background-color: #0088c2;
  }
  .signup {
    border: 3px solid white;
    background-image: linear-gradient(#fcb23f, #fec86c);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
}

.free-download {
  background: url(/public/download-bg.png);
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid white;

  box-shadow: 0 0 1rem 0rem rgba(0, 0, 0, 0.6);
  cursor: pointer;
  a {
    text-decoration: none;
    text-align: center;
    z-index: 1;
  }
  img {
    max-width: 100px;
    position: absolute;
    left: -3rem;
    z-index: 2;
  }
  strong {
    font-size: 30px;
    text-transform: uppercase;
    color: #fac96a;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    text-align: center;
  }
}
.free-download::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#72b7d9, #7dc8df);
  position: absolute;
  border-radius: 5px;
  opacity: 0.7;
}
